<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhouyang.admin.mapper.UserMapper">

    <resultMap type="top.zhouyang.admin.domain.User" id="EbSysUserResult">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="realName" column="real_name"/>
        <result property="gender" column="gender"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="loginErrorNum" column="login_error_num"/>
        <result property="loginLimitTime" column="login_limit_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>

    <sql id="selectEbSysUserVo">
        select id,
               username,
               password,
               phone,
               email,
               avatar,
               is_admin,
               real_name,
               gender,
               create_time,
               update_time,
               login_error_num,
               login_limit_time,
               last_login_time
        from tb_user
    </sql>

    <select id="selectUserList" parameterType="top.zhouyang.admin.domain.User" resultMap="EbSysUserResult">
        <include refid="selectEbSysUserVo"/>
        <where>
            <if test="username != null  and username != ''">and username like concat('%', #{username}, '%')</if>
            <if test="phone != null  and phone != ''">and phone like concat('%', #{phone}, '%')</if>
            <if test="realName != null  and realName != ''">and real_name like concat('%', #{realName}, '%')</if>
        </where>
    </select>

    <select id="selectUserById" parameterType="Long" resultMap="EbSysUserResult">
        <include refid="selectEbSysUserVo"/>
        where id = #{id}
    </select>

    <!--  EbSysUser selectEbSysUserByUsername(String username);  -->
    <select id="selectUserByUsername" parameterType="string" resultMap="EbSysUserResult">
        <include refid="selectEbSysUserVo"/>
        where username = #{username}
    </select>

    <insert id="insertUser" parameterType="top.zhouyang.admin.domain.User" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="isAdmin != null">is_admin,</if>
            <if test="realName != null">real_name,</if>
            <if test="gender != null">gender,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="loginErrorNum != null">login_error_num,</if>
            <if test="loginLimitTime != null">login_limit_time,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="isAdmin != null">#{isAdmin},</if>
            <if test="realName != null">#{realName},</if>
            <if test="gender != null">#{gender},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="loginErrorNum != null">#{loginErrorNum},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="top.zhouyang.admin.domain.User">
        update tb_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="isAdmin != null">is_admin = #{isAdmin},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="loginErrorNum != null">login_error_num = #{loginErrorNum},</if>
            <if test="loginLimitTime != null">login_limit_time = #{loginLimitTime},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete
        from tb_user
        where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from tb_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>